In [152]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_load)
student_data_df = pd.read_csv(student_data_load)

# Combine the data into a single dataset  
school_data_all_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

school_data_all_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [153]:
school_data_all_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [154]:
# BEGIN CALCULATIONS FOR DISTRICT SUMMARY

# Calculate the total number of schools
tot_schools = len(pd.unique(school_data_df['school_name']))
print(tot_schools)

15

In [155]:
# Caluculate the total number of students
tot_students_dist = student_data_df['Student ID'].count()
print(tot_students_dist)

39170

In [156]:
# Calculate the total budget
tot_budget_dist = school_data_df['budget'].sum()
tot_budget_dist

24649428

In [157]:
# Calculate the averge math score
avg_math_dist = student_data_df['math_score'].mean()
print(avg_math_dist)

78.98537145774827

In [158]:
# Caluclate the average reading score
avg_read_dist = student_data_df['reading_score'].mean()
print(avg_read_dist)

81.87784018381414

In [159]:
# Calculate percent passed math
# --> corrected threshold based on notes in assignment

pass_math_dist = len(school_data_all_df.loc[school_data_all_df['math_score'] > 69]) / tot_students_dist * 100

pass_math_dist

74.9808526933878

In [160]:
# Calculate percent passed reading
# --> corrected threshold based on notes in assignment

pass_read_dist = len(school_data_all_df.loc[school_data_all_df['reading_score'] > 69]) / tot_students_dist * 100

pass_read_dist

85.80546336482001

In [161]:
# Calculate percent passing both math and reading
# --> figured this out once I corrected threshold

pass_mathread_dist = len(school_data_all_df.loc[(school_data_all_df['math_score'] > 69) & (
    school_data_all_df['reading_score'] > 69)]) / tot_students_dist * 100

pass_mathread_dist

65.17232575950983

In [162]:
dist_summary_df = pd.DataFrame(
    {"Total # of Schools": [tot_schools],
     "Total # of Students": [tot_students_dist],
     "Total Budget": [tot_budget_dist],
     "Average Math Score": [avg_math_dist],
     "Average Reading Score": [avg_read_dist],
     "% Passing Math": [pass_math_dist],
     "% Passing Reading": [pass_read_dist],
     "% Overall Passing": [pass_mathread_dist]
     }
)

# Format the District Summary Columns

dist_summary_df["Total # of Students"] = dist_summary_df["Total # of Students"].map("{:,}".format)
dist_summary_df["Total Budget"] = dist_summary_df["Total Budget"].map("${:,}".format)
dist_summary_df["Average Math Score"] = dist_summary_df["Average Math Score"].map("{:.0f}".format)
dist_summary_df["Average Reading Score"] = dist_summary_df["Average Reading Score"].map("{:.0f}".format)
dist_summary_df["% Passing Math"] = dist_summary_df["% Passing Math"].map("{:.1f}%".format)
dist_summary_df["% Passing Reading"] = dist_summary_df["% Passing Reading"].map("{:.1f}%".format)
dist_summary_df["% Overall Passing"] = dist_summary_df["% Overall Passing"].map("{:.1f}%".format)

print("DISTRICT SUMMARY")
dist_summary_df

DISTRICT SUMMARY

,Total # of Schools,Total # of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",79,82,75.0%,85.8%,65.2%

In [163]:
# BEGIN CALCULATIONS FOR SCHOOL SUMMARY

# Get school type
school_type = school_data_df.set_index(['school_name'])['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [164]:
# Calculate total student count per school

student_count = school_data_all_df['school_name'].value_counts()
student_count

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [165]:
# Calculate total budget per school

school_budget = school_data_all_df.groupby(['school_name']).mean()['budget']
school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [166]:
# Calculate total budget per student per school

student_budget = school_budget / student_count
student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [167]:
# Calculate average math score

math_avg = school_data_all_df.groupby(['school_name']).mean()['math_score']
math_avg

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [168]:
# Calculate average reading score

read_avg = school_data_all_df.groupby(['school_name']).mean()['reading_score']
read_avg

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [169]:
# Calculate % of students passing math

# get number of students passing math
pass_math_sch = school_data_all_df[(school_data_all_df['math_score'] > 69)]

# group students passing math by school
pass_math_sch = pass_math_sch.groupby(['school_name']).count()['student_name']

# get % of students passing math
pass_math_sch = pass_math_sch / student_count * 100

pass_math_sch

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [170]:
# Calculate % of students passing reading

# get number of students passing reading
pass_read_sch = school_data_all_df[(school_data_all_df['reading_score'] > 69)]

# group students passing math by school
pass_read_sch = pass_read_sch.groupby(['school_name']).count()['student_name']

# get % of students passing math
pass_read_sch = pass_read_sch / student_count * 100

pass_read_sch

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [171]:
# Calculate % of students passing math and reading

# get the count of students passing both
pass_both = school_data_all_df[(school_data_all_df['math_score'] > 69) & (school_data_all_df['reading_score'] > 69)]

# group the count of students by school
pass_both = pass_both.groupby(['school_name']).count()['student_name']

# get % of students passing both
pass_both = pass_both / student_count * 100

pass_both

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [173]:
# Create School Summary DataFrame

school_summary_df = pd.DataFrame(
    {"School Type": school_type,
     "Total Students": student_count,
     "Total School Budget": school_budget,
     "Per Student Budget": student_budget,
     "Average Math Score": math_avg,
     "Average Reading Score": read_avg,
     "% Passing Math": pass_math_sch,
     "% Passing Reading": pass_read_sch,
     "% Overall Passing": pass_both
     }
)

# Format the School Summary Columns

school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:.2f}".format)
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:.0f}".format)
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:.0f}".format)
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.1f}%".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.1f}%".format)
school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].map("{:.1f}%".format)

print("SCHOOL SUMMARY")
school_summary_df

SCHOOL SUMMARY

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77,81,66.7%,81.9%,54.6%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83,84,94.1%,97.0%,91.3%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,77,81,66.0%,80.7%,53.2%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77,81,68.3%,79.3%,54.3%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83,84,93.4%,97.1%,90.6%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77,81,66.8%,80.9%,53.5%
Holden High School,Charter,427,"$248,087.00",$581.00,84,84,92.5%,96.3%,89.2%
Huang High School,District,"2,917","$1,910,635.00",$655.00,77,81,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77,81,66.1%,81.2%,53.5%
Pena High School,Charter,962,"$585,858.00",$609.00,84,84,94.6%,95.9%,90.5%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,77,81,66.4%,80.2%,53.0%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83,84,93.9%,95.9%,89.9%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83,84,93.3%,97.3%,90.9%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83,84,93.9%,96.5%,90.6%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,84,84,93.3%,96.6%,90.3%