In [118]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_load)
student_data = pd.read_csv(student_data_load)

# Combine the data into a single dataset  
school_data_all_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_all_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [119]:
school_data_all_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [120]:
# Calculate the total number of schools
tot_schools = len(pd.unique(school_data_all_df['school_name']))
print(tot_schools)

15

In [121]:
# Caluculate the total number of students
tot_students_dist = school_data_all_df['Student ID'].count()
print(tot_students_dist)

39170

In [122]:
# Calculate the total budget
tot_budget_dist = school_data_all_df['budget'].sum()
print(tot_budget_dist)

82932329558

In [123]:
# Calculate the averge math score
avg_math_dist = school_data_all_df['math_score'].mean()
print(round(avg_math_dist))

79

In [124]:
# Caluclate the average reading score
avg_read_dist = school_data_all_df['reading_score'].mean()
print(round(avg_read_dist))

82

In [140]:
# Decided to calculate min score because % passing seemed high - % passing appears correct based on threshold
min_math = school_data_all_df['math_score'].min()

pass_math_dist_num = len(school_data_all_df.loc[school_data_all_df['math_score'] > 59])

pass_math_dist = len(school_data_all_df.loc[school_data_all_df['math_score'] > 59]) / tot_students_dist * 100

min_math

55

In [141]:
# Calculated min score because % passing is 100 - % passing is correct based on threshold

min_read = school_data_all_df['reading_score'].min()

pass_read_dist_num = len(school_data_all_df.loc[school_data_all_df['reading_score'] > 59])

pass_read_dist = len(school_data_all_df.loc[school_data_all_df['reading_score'] > 59]) / tot_students_dist * 100

min_read

63

In [128]:
district_summary_df = pd.DataFrame(
    {"Total # of Schools": [tot_schools],
     "Total # of Students": [tot_students_dist],
     "Total Budget": [tot_budget_dist],
     "Average Math Score": [avg_math_dist],
     "Average Reading Score": [avg_read_dist],
     "% Passing Math": [pass_math_dist],
     "% Passing Reading": [pass_read_dist],
     }
)
district_summary_df

,Total # of Schools,Total # of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,39170,82932329558,78.985371,81.87784,92.445749,100.0